<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch"> 
    <arg name="world_name" value="$(find sentry_bringup)/world/example.world"/>
  </include>
  
  <include file="$(find sentry_bringup)/launch/spawn.launch">
    <arg name="x" value="0" />
    <arg name="y" value="0" />
    <arg name="z" value="0" />
    <arg name="R" value="0" />
    <arg name="P" value="0" />
    <arg name="Y" value="0" />
  </include>

</launch>