<launch>
  <node pkg="tf_transform_republisher" type="tf_transform_republisher_node" name="far_vehicle_republisher" output="screen">
    <param name="publish_frequency"                   value="5000" />
    <param name="static_tf_transform"                 value="false" />
    <param name="input_tf_transform_parent_frame_id"  value="livox_laser" />
    <param name="input_tf_transform_child_frame_id"   value="base_link" />
    <param name="output_tf_transform_parent_frame_id" value="sensor" />
    <param name="output_tf_transform_child_frame_id"  value="vehicle" />
  </node>

  <node pkg="tf_transform_republisher" type="tf_transform_republisher_node" name="far_sensor_republisher" output="screen">
    <param name="publish_frequency"                   value="5000" />
    <param name="static_tf_transform"                 value="false" />
    <param name="input_tf_transform_parent_frame_id"  value="map" />
    <param name="input_tf_transform_child_frame_id"   value="livox_laser" />
    <param name="output_tf_transform_parent_frame_id" value="map" />
    <param name="output_tf_transform_child_frame_id"  value="sensor" />
  </node>

  <remap from="/state_estimation" to="/aft_mapped_to_init" />
  <remap from="/registered_scan" to="/cloud_registered" />
  <include file="$(find terrain_analysis)/launch/terrain_analysis.launch" />

  <include file="$(find terrain_analysis_ext)/launch/terrain_analysis_ext.launch" />

  <node pkg="topic_tools" type="transform" name="twist_to_cmd" required="true" args="/twist_cmd /cmd_vel geometry_msgs/Twist 'm.twist'" />

  <include file="$(find far_planner)/launch/far_planner.launch" >
    <arg name="odom_topic" value="/aft_mapped_to_init"/>
    <arg name="scan_cloud_topic" value="/cloud_registered"/>
  </include>

  <remap from="/cmd_vel" to="/twist_cmd" />
  <include file="$(find sentry_bringup)/launch/local_planner.launch" />
</launch>